@import '../node_modules/lightbox2/dist/css/lightbox.min.css';
* {
  font-family: "Roboto";
  color: #111111;
}

h1 {
  font-weight: 100;
  color: #111111;
  font-size: 2.2rem;
  border-bottom: solid 2px #459EF3;
  padding-top: 10px;
}

h2 {
  color: #111111;
  font-weight: 100;
  font-size: 2rem;
}

p {
  color: #111111;
  font-weight: 400;
  line-height: 1.8rem;
}

header .page-header-top img {
  max-width: 200px;
}

header nav {
  background-color: #459EF3 !important;
}
header nav a,
header nav a:hover,
header nav a:active {
  text-transform: uppercase;
  font-weight: 500;
  color: #111111;
}
header nav .active {
  color: #ee1 !important;
}
header nav .navbar-brand {
  font-family: "Bangers", cursive;
}

footer p {
  font-size: 0.9rem;
  text-align: center !important;
}

.btn.btn-sevent {
  background-color: #459EF3;
  color: white !important;
}

.car-card {
  margin: 0 0 30px 0;
  background-color: #ddd;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 12px;
  text-align: center;
  border: solid 1px #eaeaea;
  border-radius: 15px;
  height: 255px;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 200px 40px;
  grid-template-areas: "image     description" "car-title description";
}
@media screen and (max-width: 991px) {
  .car-card {
    grid-template-columns: 180px auto;
  }
}
.car-card .car-card-image {
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  grid-area: image;
}
@media screen and (max-width: 991px) {
  .car-card .car-card-image {
    width: 180px;
  }
}
.car-card .car-card-image a {
  display: block;
  height: 200px;
  color: #111111 !important;
  text-decoration: inherit !important;
}
.car-card .car-card-image .car-card-text {
  grid-area: car-title;
  height: 40px;
}
.car-card .car-card-image h3 {
  font-size: 1.1rem;
  padding-top: 10px;
  margin: 0;
}
.car-card .car-details {
  grid-area: description;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 40px;
  grid-gap: 10px;
  grid-template-areas: "make      model      transmission_type  date    description" "fuel_type year_built body_type          active description" "seats     colour     variant            car_id   price" ".         .          .                  .        button";
}
@media screen and (max-width: 991px) {
  .car-card .car-details {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 40px;
    grid-template-areas: "description" "date" "price" "button";
  }
}
.car-card .car-details .make {
  grid-area: make;
}
.car-card .car-details .model {
  grid-area: model;
}
.car-card .car-details .variant {
  grid-area: variant;
}
.car-card .car-details .description {
  grid-area: description;
}
.car-card .car-details .fuel {
  grid-area: fuel_type;
}
.car-card .car-details .transmission {
  grid-area: transmission_type;
}
.car-card .car-details .year_built {
  grid-area: year_built;
}
.car-card .car-details .price_per_day {
  grid-area: price;
}
.car-card .car-details .seats {
  grid-area: seats;
}
.car-card .car-details .colour {
  grid-area: colour;
}
.car-card .car-details .body_type {
  grid-area: body_type;
}
.car-card .car-details .car_id {
  grid-area: car_id;
}
.car-card .car-details .active {
  grid-area: active;
}
.car-card .car-details .date {
  grid-area: date;
}
.car-card .car-details .make, .car-card .car-details .model, .car-card .car-details .variant, .car-card .car-details .fuel, .car-card .car-details .transmission, .car-card .car-details .year_built, .car-card .car-details .seats, .car-card .car-details .colour, .car-card .car-details .body_type, .car-card .car-details .car_id, .car-card .car-details .active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .car-card .car-details .make, .car-card .car-details .model, .car-card .car-details .variant, .car-card .car-details .fuel, .car-card .car-details .transmission, .car-card .car-details .year_built, .car-card .car-details .seats, .car-card .car-details .colour, .car-card .car-details .body_type, .car-card .car-details .car_id, .car-card .car-details .active {
    display: none;
  }
}
.car-card .car-details .detail-title {
  font-weight: 700;
  color: #111111;
  width: 100%;
}
.car-card .car-details .detail-content {
  font-weight: 200;
  color: #111111;
  resize: none;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .car-card .car-details .detail-content {
    max-height: 100px;
    overflow-y: auto;
  }
}
.car-card .car-details .addToBasket {
  grid-area: button;
}
.car-card .car-details .btn {
  grid-area: button;
  justify-self: center;
  height: 40px;
}
@media screen and (max-width: 490px) {
  .car-card .car-details .btn:not(.edit, .save) {
    font-size: smaller;
    padding: 0;
    width: 85px;
  }
}

.myModal {
  position: absolute;
  width: 100%;
  min-height: -webkit-fill-available;
  background: rgba(192, 192, 192, 0.7);
}

.modal-dialog {
  margin: 0.75rem auto !important;
}

.modal-header {
  justify-content: center !important;
  border-bottom: none !important;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-body p {
  color: #111111;
}

.spinner {
  border: 4px solid #459EF3;
  border-radius: 50%;
  border-top: 4px solid white;
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#map {
  width: auto;
  height: 400px;
}

.filter-container,
.filters {
  margin-bottom: 10px;
}

.row {
  flex-direction: row !important;
}

a {
  color: inherit !important;
}

p {
  text-align: left !important;
}

.loggedInModal {
  background: none;
  position: absolute;
}
.loggedInModal .modal-dialog > .modal-content {
  background-color: rgba(0, 255, 0, 0.5);
  border: #000000 solid 1px;
}
.loggedInModal .modal-dialog > .modal-content .border-header {
  border-bottom: none !important;
  justify-content: center !important;
}

.selection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 400px;
  grid-template-areas: "prompts prompts image" "search  search  image";
}
@media screen and (max-width: 1024px) {
  .selection {
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "prompts" "search" "image";
  }
}

#calendar {
  grid-area: calendar;
  min-width: 300px;
  min-height: 400px;
}
#calendar .fc-button {
  background-color: #459EF3;
  color: #111111;
}
#calendar .fc-button-primary {
  background-color: #459EF3;
}
#calendar .fc-button-active {
  background-color: #000000;
}
#calendar .fc-toolbar-title {
  font-size: 1.2em;
}
#calendar .fc-daygrid-day-events {
  position: absolute;
  min-height: 0.5em;
  margin-top: -8px;
  width: 45px;
}
#calendar .fc-daygrid-body {
  overflow: hidden;
}

.prompts {
  grid-area: prompts;
}

.search {
  grid-area: search;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .search {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
.search > div:not(:first-of-type) {
  align-self: end;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .search > div:not(:first-of-type) {
    align-self: center;
    width: 100%;
    padding: 35px 0;
  }
}
.search .button-container > button {
  width: 150px;
  height: 55px;
}

.image {
  grid-area: image;
}
.image img {
  max-height: 100%;
}

.car-photo {
  background-image: url("../images/red-car.png");
}

.locations-list {
  list-style: none;
  padding-left: 0;
}

#filter-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "min-price max-price" "fuel-type trans-type" ". ." "button button";
  grid-column-gap: 40px;
  border-bottom: 10px;
  color: #459EF3;
  row-gap: 30px;
  padding-right: 35px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #filter-form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-template-areas: "min-price" "max-price" "fuel-type" "trans-type" "button";
  }
}
#filter-form .min-price {
  grid-area: min-price;
}
#filter-form .max-price {
  grid-area: max-price;
}
#filter-form .fuel-type {
  grid-area: fuel-type;
}
#filter-form .transmission-type {
  grid-area: trans-type;
}
#filter-form .button-container {
  grid-area: button;
  justify-self: center;
  align-self: flex-end;
}

body#page-login form label {
  color: #111111 !important;
}
body#page-login form#registration-form {
  background-color: #459EF3;
  padding: 10px;
  border-radius: 3px;
}
body#page-login form#registration-form label {
  color: white;
}
body#page-login form#registration-form .btn {
  background-color: #111111;
  color: white;
  border-top: 5px;
}
body#page-login form .btn-sevent {
  margin-top: 10px;
}

body#page-car .centralised {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body#page-car .car-photos {
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-template-rows: 340px 1fr;
  grid-template-areas: "main additional" "description description";
  width: 100%;
}
@media screen and (max-width: 768px) {
  body#page-car .car-photos {
    grid-template-columns: 320px;
    grid-template-rows: 340px auto 1fr;
    grid-template-areas: "main" "additional" "description";
    width: auto;
  }
}
body#page-car .car-details {
  color: #111111;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "make        model             variant" "year_built  body_type         seats" "fuel_type   transmission_type colour" "description description       description" "price       .                 date";
  flex-direction: column;
  width: 450px;
  text-align: center;
  row-gap: 10px;
}
@media screen and (max-width: 768px) {
  body#page-car .car-details {
    width: 300px;
  }
}
body#page-car .car-details .make {
  grid-area: make;
}
body#page-car .car-details .model {
  grid-area: model;
}
body#page-car .car-details .variant {
  grid-area: variant;
}
body#page-car .car-details .description {
  grid-area: description;
}
body#page-car .car-details .fuel {
  grid-area: fuel_type;
}
body#page-car .car-details .transmission {
  grid-area: transmission_type;
}
body#page-car .car-details .year_built {
  grid-area: year_built;
}
body#page-car .car-details .price_per_day {
  grid-area: price;
}
body#page-car .car-details .date {
  grid-area: date;
}
body#page-car .car-details .seats {
  grid-area: seats;
}
body#page-car .car-details .colour {
  grid-area: colour;
}
body#page-car .car-details .body_type {
  grid-area: body_type;
}
body#page-car .car-details .car_id {
  grid-area: car_id;
}
body#page-car .car-details .active {
  grid-area: active;
}
body#page-car .car-details .detail-title {
  font-weight: 700;
  color: #111111;
  width: 100%;
}
body#page-car .car-details .detail-content {
  font-weight: 200;
  color: #111111;
  resize: none;
  width: 100%;
}
body#page-car .car-image-main {
  grid-area: main;
  margin-bottom: 30px;
}
body#page-car .car-image-main img {
  height: 320px;
  border: 3px solid white;
}
body#page-car .additional {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
}
body#page-car .car-image-additional {
  grid-area: additional;
  border: solid 3px #000000;
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body#page-car .car-image-additional a {
  display: block;
  height: auto;
}

.checkoutButton {
  display: flex;
  justify-content: center;
}

.row {
  flex-direction: column;
  align-content: center;
  color: #111111;
  text-align: center;
}
.row .goHomeButton {
  width: auto;
}

.accordion #map {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 768px) {
  .accordion #map {
    padding-right: 100%;
  }
}
.accordion #map .mapboxgl-canvas {
  width: auto !important;
  height: 100% !important;
}

.row {
  justify-content: center;
}
.row .column {
  display: flex;
  justify-content: center;
}
.row .column .form {
  display: flex;
  flex-direction: column;
}

.savingModal {
  position: absolute;
  width: 100%;
  min-height: -webkit-fill-available;
  background: rgba(192, 192, 192, 0.7);
}

.modal-dialog {
  margin: 0.75rem auto !important;
}

.modal-header {
  justify-content: center !important;
  border-bottom: none !important;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-body p {
  color: #111111;
}

.noResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingModal {
  position: absolute;
  width: 100%;
  min-height: -webkit-fill-available;
  background: rgba(192, 192, 192, 0.7);
}

.modal-dialog {
  margin: 0.75rem auto !important;
  max-width: 600px !important;
}

.modal-header {
  justify-content: center !important;
  border-bottom: none !important;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
.modal-body p {
  color: #111111;
}

body {
  background-color: white !important;
}

img {
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
