.checkoutButton {
    display: flex;
    justify-content: center;
}

.row {
    flex-direction: column;
    align-content: center;
    color: white;
    text-align: center;

    .goHomeButton {
        width: auto;
    }
}