.filter-container,
.filters {
    margin-bottom: 10px;
}

.search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "search ."
    "button .";
    grid-column-gap: 80px;
    grid-row-gap: 10px;

    .search {
        grid-area: search;
    }
    .btn-ybac {
        grid-area: button;
        width: min-content;
    }
}

#filter-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "min-price min-mileage"
  "max-price max-mileage"
  "fuel-type trans-type";
  grid-column-gap: 80px;
  border-bottom: 10px;
  color: $secondary-color;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-template-areas:
    "min-price"
    "max-price"
    "min-mileage"
    "max-mileage"
    "fuel-type"
    "trans-type";
    }

    .min-price {
        grid-area: min-price;
    }
    .max-price {
        grid-area: max-price;
    }
    .min-mileage {
        grid-area: min-mileage;
    }
    .max-price {
        grid-area: max-price;
    }
    .fuel-type {
        grid-area: fuel-type;
    }
    .trans-type {
        grid-area: trans-type;
    }
}