.filter-container,
.filters {
    margin-bottom: 10px;
}

.row {
    flex-direction: row !important;
}

a {
    color: inherit !important;
}
p {
    text-align: left !important;
}
.loggedInModal {
    background: none;
    position: absolute;

    .modal-dialog > .modal-content {
        background-color: rgba(0,255,0, 0.5);
        border: $tertiary-color solid 1px;
        .border-header {
            border-bottom: none !important;
            justify-content: center !important;
        }
    }
}
.search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "search ."
    "button .";
    grid-column-gap: 80px;
    grid-row-gap: 10px;

    @media screen and (max-width: $mobileBreakPoint) {
        grid-template-columns: 1fr;
        grid-template-areas:
        "search"
        "button";
    }


    .search {
        grid-area: search;
    }
    .btn-ybac {
        grid-area: button;
        width: min-content;
    }
}

#filter-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "min-price min-mileage"
  "max-price max-mileage"
  "fuel-type trans-type";
  grid-column-gap: 80px;
  border-bottom: 10px;
  color: $secondary-color;
  row-gap: 10px ;

  @media screen and (max-width: $mobileBreakPoint) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-template-areas:
    "min-price"
    "max-price"
    "min-mileage"
    "max-mileage"
    "fuel-type"
    "trans-type";
    }

    .min-price {
        grid-area: min-price;
    }
    .max-price {
        grid-area: max-price;
    }
    .min-mileage {
        grid-area: min-mileage;
    }
    .max-price {
        grid-area: max-price;
    }
    .fuel-type {
        grid-area: fuel-type;
    }
    .trans-type {
        grid-area: trans-type;
    }
}