.filter-container,
.filters {
    margin-bottom: 10px;
}

.row {
    flex-direction: row !important;
}

a {
    color: inherit !important;
}
p {
    text-align: left !important;
}
.loggedInModal {
    background: none;
    position: absolute;

    .modal-dialog > .modal-content {
        background-color: $success-color;
        border: $tertiary-color solid 1px;
        .border-header {
            border-bottom: none !important;
            justify-content: center !important;
        }
    }
}
.selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 400px;
    grid-template-areas:
    "prompts prompts image"
    "search  search  image";

    @media screen and (max-width: $laptopBreakPoint) {
        justify-content: center;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "prompts"
        "search"
        "image"
        ;
    }
}
#calendar {
    grid-area: calendar;
    min-width: 300px;
    min-height: 400px;
    padding-bottom: 30px;

        .fc-button {
            background-color: $secondary-color;
            color: $font-color;

            &-primary {
                background-color: $secondary-color;
            }

            &-active {
                background-color: $tertiary-color;
            }
        }

        .fc-toolbar-title {
            font-size: 1.2em;
        }
        .fc-daygrid-day-events {
            position: absolute;
            min-height: 0.5em;
            margin-top: -8px;
            width: 45px;
            margin-left: -2px;
        }
        .fc-daygrid-day-number {
            padding: 0;
            padding-bottom: 3px;
        }
        .fc-daygrid-body {
            overflow: hidden;
        }
}

.prompts {
    grid-area: prompts;
}

.search {
    grid-area: search;
    display: flex;
    flex-direction: row;
    place-content: space-around;
    align-items: flex-end;

    @media screen and (max-width: $mobileBreakPoint) {
        flex-direction: column;;
        width: 100%;
        align-items: center;
    }

    > div:not(:first-of-type) {
        align-self: end;
        height: 100%;
        padding-right: 60px;

        @media screen and (max-width: $desktopBreakPoint) {
            padding-right: 0;
            padding: 0 10px;
        }
        
        @media screen and (max-width: $laptopBreakPoint) {
            align-self: center;
            width: 100%;
            padding: 35px;
        }
    }
    .button-container > button {
        width: 150px;
        height: 55px;
    }
}

.image {
    grid-area: image;
    img {
        max-height: 100%;
    }
}

.car-photo {
    background-image: url('../images/red-car.png');
}

.locations-list {
    list-style: none;
    padding-left: 0;
}

#filter-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "min-price max-price"
  "fuel-type trans-type"
  ". ."
  "button button";
  grid-column-gap: 40px;
  border-bottom: 10px;
  color: $secondary-color;
  row-gap: 30px;
  padding-right: 35px;
    height: 100%;

    @media screen and (max-width: $desktopBreakPoint) {
        padding-right: 0;
    }

  @media screen and (max-width: $mobileBreakPoint) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-template-areas:
    "min-price"
    "max-price"
    "fuel-type"
    "trans-type"
    "button";
    }

    .min-price {
        grid-area: min-price;
    }
    .max-price {
        grid-area: max-price;
    }
    .fuel-type {
        grid-area: fuel-type;
    }
    .transmission-type {
        grid-area: trans-type;
    }
    .button-container {
        grid-area: button;
        justify-self: center;
        align-self: flex-end;
    }
}