body#page-login {
    form {
        label {
            color: $tertiary-color !important;
        }
        &#registration-form {
            background-color: $secondary-color;
            padding: 10px;
            border-radius: 3px;
            label {
                color: $primary-color;
            }
            .btn {
                background-color: $tertiary-color;
                color: $primary-color;
                border-top: 5px;
            }
        }
        .btn-sevent {
            margin-top: 10px
        }
    }
}