header {
    nav {
        background-color: $secondary-color !important;

        a,
        a:hover,
        a:active {
            text-transform: uppercase;
            font-weight: 500;
            color: $font-color;
        }
        .active {
            color: $active-color !important;
        }
        
        .navbar-brand {
            font-family: 'Bangers', cursive;
        }
    }
}