.myModal {
    position: absolute;
    width: 100%;
    min-height: -webkit-fill-available;
    background: rgba(192,192,192,0.7);   
}

.modal-dialog {
    margin: 0.75rem auto !important;
}

.modal-header {
    justify-content: center !important;
    border-bottom: none !important;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        color: black;
    }
}