$primary-color: white;
$secondary-color: #459EF3;
$tertiary-color: #000000;
$active-color: #ee1;
$font-color: #111111;
$success-color: rgba(0,255,0,0.5);
$car-card-background: #ddd;
$tabletBreakPoint: 991px;
$mobileBreakPoint: 768px;
$tinyBreakPoint: 490px;